:root {
  --back: rgb(0, 0, 0);
  --back2: hsla(154, 3%, 43%, 0.5);
  --foredark: hsla(0, 0%, 10%, 1);
  --forelight: hsla(0, 0%, 100%, 1);
  --border: hsla(0, 0%, 20%, 0.8);
  --borderlight: hsla(0, 0%, 33%, 0.3);
  /* --shadow: hsl(0,0%,50%); */
  --zebra: hsl(0, 0%, 93%, 1);
}

body {
  font-family: "EB Garamond", Arial, serif;
  color: #ffffff;
}

table {
  margin: 10px auto;
  border: thin solid var(--border);
  box-shadow: 0 0 10px var(--shadow);
  border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--back);
  font-size: 0.85rem;
}

tr:first-child th,
.highlight {
  background-color: var(--back);
  color: var(--forelight);
}

th,
td {
  padding: 7px 15px;
  border: 1px solid var(--borderlight);
}

th {
  background-color: var(--back2);
  font-size: larger;
}

td {
  text-align: center;
  color: #000000;
}

tbody tr:nth-child(even) {
  background-color: var(--zebra);
}
