body {
    line-height: 1.5;
    font-family: Verdana, Tahoma, sans-serif;
}

header, main, footer {
    margin: 1.25rem auto;
    display: grid;
    grid-template-columns: 1fr;
}

header, footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

header {
    align-items: center;
}

img, h1 {
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
    margin: 30px auto;
}

section:not(.design-heading) {
    display: block;
    background-color: #eee;
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
    border-radius: 15px 15px 0px 0px
}

.design-heading {
    background-color: blue;
    background-size: contain;
    margin: 0;
    padding: 0;
}

/* table views ******************************/
@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .third-principle {
        grid-column: span 2;
    }    
}

/* Desktop views ******************************/
@media only screen and (min-width: 68em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .third-principle {
        grid-column: span 1;
    }
}