@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
}

header {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
}

.social {
  margin: 0 2vw 0.5rem;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  margin: 0.25rem;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.top-bar {
  display: block;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 2vw;
  margin: 3vw 2vw 1vw;
}

header img {
  width: 80px;
  height: auto;
}

#banner {
  background-color: #53b3ed;
  display: none;
  padding: 2vw 4vw;
  text-align: center;
}

a {
  text-decoration: none;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headings h1 {
  font-size: 1.3rem;
  margin: 0 0 0 0.5rem;
}

.motto {
  font-style: italic;
  letter-spacing: 1pt;
  color: darkgreen;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

header nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
  position: absolute;
  top: 125px;
  right: 0px;
}

header nav,
header span {
  background-color: #eee;
  padding: 0 1vw;
  border-radius: 3px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

header nav ul li.active a {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

header nav ul li a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: #53b3ed;
}

header nav ul {
  display: none;
}

header nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}
#banner.open {
  display: block;
}

time {
  margin: 1rem 1%;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #eee;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 15px 10px;
}

main div picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main div {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #eee;
  text-align: center;
}

main.discovery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.discovery picture {
  margin: 3vw auto;
}
figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

div p {
  margin: 1rem 0.5vw;
}

div.event, div.news {
  padding: 0 1rem;
}

div.news ul{
  margin: 1rem 2rem;
  text-align: left;
}

div h3 {
  padding-top: 1rem;
}

.spotlights {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #eee;
}

/*------------FORM---------------*/
form, section.contact {
  grid-column: 1/4;
}
form fieldset {
  margin: 2rem 0;
  border: 1px solid darkgreen;
  border-radius: 10px;
  padding: 0.5rem 2%;
  font-size: 1rem;
}

form legend {
  color: darkgreen;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 0.8rem;
  border: none;
  background-color: white;
  text-align: left;
}

form label.top input,
form label.top textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form span {
  display: none;
}

/*------------FOOTER----------------*/

footer {
  background-color: lightsalmon;
}
div.footerLogo picture {
  object-fit: cover;
  margin: 2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}
div.footerLogo picture img {
  object-fit: cover;
  width: 35%;
  margin: 4vw 0 0 0;
}
div.footerLogo {
  text-align: center;
}
div.contact {
  text-align: center;
}
div.bottom {
  text-align: center;
}

footer p {
  margin: 5px auto;
}

footer h2 {
  margin: 5px auto;
}

div.join {
  display: none;
}

div.spotlight3 {
  display: none;
}

.weather p:nth-child(4) {
  border-top: 1px solid;
  padding: 1vw 0 0 0;
  margin: 2vw 4vw;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*-----directory.html--------*/
main.companies {
  display: flex;
}

h1.companies {
  color: #000;
  margin: 0.5rem 0;
  text-align: center;
  /* border-bottom: 1px solid #bbb; */
}

h2.companies {
  color: navy;
  margin: 0 0 1rem 0;
}

p.companies {
  margin: 0;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section.companies {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: #eee;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.companies {
  width: auto;
  max-width: 325px;
  /* box-shadow: 0 0 30px #777; */
  height: 200px;
  /* border: 1px solid #333; */
  margin: 0.75rem 0;
}

.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: lightsalmon;
  text-align: center;
}

.menu button {
  padding: 1rem;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
}

article.list section {
  display: grid;
  margin: 0;
  padding: 1rem 0.25rem;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section h2 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
  background-color: #bed;
}

/*----------weather api----------*/
figure {
  display: grid;
  align-items: center;
  justify-content: center;
  border: none;
}

figure img, figure p {
  grid-row: 1/2;
}

figcaption#description {
  grid-row: 2/3;
  grid-column: 1/3;
  background-color:#53b3ed;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}

/*-------------Contact--------------*/
fieldset.contact{
  border: none;
  margin-top: 0;
  padding: 0;
}

fieldset.contact label:first-of-type{
  padding-top: 0;
}

section.contact {
  /* text-align: center; */
  margin-left: 1rem;
}

h1.contact{
  margin: 1rem auto;
}

section.contact h3 {
  margin: 1rem 0 0.5rem 0;
}

section.contact input.submitBtn{
  margin: 0 0 2rem;
}

/*------------------spotlights-------------------*/
