/* 64rem is also 1028px when basefont is 16px*/
@media only screen and (min-width: 64rem) {
  header nav ul li a {
    margin: 0.5rem 1rem;
  }

  header nav button {
    display: none;
  }

  header nav ul#primaryNav {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  header nav ul li a {
    border-top: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  .top-bar {
    display: flex;
  }

  header img {
    width: 80%;
  }

  .headings h1 {
    font-size: 2.5rem;
  }

  .headings q.motto {
    font-size: 1.6rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 1rem 6rem;
    gap: 1rem;
  }

  section div.spotlight3 {
    display: block;
  }

  div.clearfix {
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
  }

  div.join {
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
  }

  div.spotlights {
    grid-column: 3/4;
    grid-row: 1/4;
  }

  div.news {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  div.event {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }

  div.weather {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  div.footerLogo {
    grid-column: 2/3;
    align-items: center;
  }
  div.footerLogo picture {
    width: 30%;
    float: left;
    margin: 0 2vw 0 0;
  }
  div.footerLogo picture img{
    width: 100%;
    object-fit: cover;
  }
  div.contact {
    grid-column: 3/4;
    text-align: center;
  }

  div.bottom {
    grid-column: 1/5;
    grid-row: 2/3;
    text-align: center;
    border-top: 1px solid #555;
  }
}
