/* 35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem) {
    

    /* header {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2;
        flex-direction: row;
    } */

    /* header {
        display: inline-flex;
    } */

    header nav button {
        display: inline-block;
    }

    header picture img {
        grid-column: 1/2;
        size: 128px;
    }

    /* header .headings {
        grid-column: 1/2;
    } */
  
    /* header nav ul#primaryNav {
      display: flex;
      margin-left: 2vw;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
  
    header nav ul li a{
      border-top: none;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
    } */

    header time {
        width: 94%;
        /* grid-column: 1 / span 3; */
        grid-row: 2;
    }

  }
  