body {
    font-size: 18px;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1.5rem;
    display:flex;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px grey;
}

img {
    margin: 10px;
    box-shadow: 0px 0px 20px 1px black;
}
